/* body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

/* layout for container */
.container {
  display: flex;
  flex-direction: row-reverse;
}

.text {
  width: 40%;
  padding: 40px;
  border-left: 1px solid #eee;
}

.vis {
  width: 60%;
  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fafafa;
}

/* sections for visualizations */
.step {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* chart container */
#mainChart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section formatting */
.step {
  min-height: 100vh;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center; 
}

/* intro section formatting */
.step:first-child {
  padding-top: 0;
}

/* headings */
h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

p {
  max-width: 420px;
  font-size: 15px;
  color: #444;
}

.step {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  padding: 60px;
}

.step:first-child {
  max-width: 500px;
}

/* makes sure the fun facts section text is all the same size*/
.step ul {
  font-size: 15px;        
  color: black;
  line-height: 1.7;
  padding-left: 20px;
}

.step li {
  margin-bottom: 10px;
}